<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg" *ngIf="isLogged()">

    <a class="navbar-brand bold brand-color" [routerLink]="['/']" (click)="navbarCollapsed = true">{{currentUser().name}}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/search']" (click)="navbarCollapsed = true">Search</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/preferences']" (click)="navbarCollapsed = true">Preferences</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/help']" (click)="navbarCollapsed = true">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link red" [routerLink]="['/']" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </header>

  <hr class="margin-top-0 margin-bottom-10 brand-color">
<section>
  <ngx-loading [show]="isLoading()"></ngx-loading>
  <router-outlet></router-outlet>
</section>
