<web-app>
    <servlet>
        <servlet-name>sstorrent-rest</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sstorrent-rest</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>